@import "./lib.scss";
// menu colors
$menuBgColor: #2975ab;
$activeTextColor: #409eff;
$textColor: #bbbbbb;

:export {
  menuColor: $menuBgColor;
  menuTextColor: $textColor;
  menuActiveTextColor: $activeTextColor;
}

@include theme("dark-side");
